/Aerolinea.class
/Aeropuerto.class
/CajaFreeShop.class
/CajeraFreeShop.class
/ControlTiempo.class
/FreeShop.class
/Guardia.class
/Main.class
/Pasaje.class
/Pasajero.class
/Producto.class
/Terminal.class
/TrenInterno.class
